<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Deliberate Finances App</h1>
  <h2>This is your money-managing home page. Woot!</h2>

  <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
</div>
