<div class="center jumbotron">
  <h1>Welcome to the Deliberate Finances App</h1>
  <h4>This is your money-managing home page. Woot!</h4>

  <% if !logged_in? %>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
