<% provide(:title, "Sign up") %>
<% provide(:button_text, "Create my account") %>
<% provide(:path, signup_path) %>
<% provide(:verb, :post) %>

<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "Use my Google account", '/auth/google_oauth2', class: "btn btn-info btn-block" %><br>
    <p class="center">Or, sign up with your email...</p>
    <%= render 'form' %><br>
  </div>
</div>
