<h1><%= @user.name %></h1>

<nav aria-label="...">
  <ul class="pager">
    <li><a href="#" class="js-previous">Next family member's payments...</a></li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Your payments include the following...</h3>
    <div class="payments"></div>
  </div>
</div>
