<h1><%= @user.name %></h1>

<nav aria-label="...">
  <ul class="pager">
    <li><a href="#" class="js-previous">Next family member's payments...</a></li>
  </ul>
</nav>

<h3>Your payments include...</h3>

<div class="payments"></div>
