<li id="purchase-<%= purchase.id %>">
  <span class="content"><h3><strong><%= number_to_currency(purchase.price.to_f) %></strong> for <%= link_to purchase.item, plan_purchase_path(@plan, purchase) %></h3></span>
</li>
