<h1>Current plans</h1>
<ul>
  <% @plans.each do |plan| %>
    <li><%= link_to date_of(plan), plan %></li>
  <% end %>
</ul>

<% if !@past_plans.empty? %>
  <h1>Past plans</h1>
  <ul>
    <% @past_plans.each do |plan| %>
      <li><%= link_to date_of(plan), plan %></li>
    <% end %>
  </ul>
<% end %>
