<h1><%= date_of @plan %></h1>
<div class="center">
  <%= link_to "Add item to plan", new_plan_purchase_path(@plan), class: "btn btn-primary" %>
</div>


<ul>
  <% @plan.purchases.each do |purchase| %>
    <li><%= purchase.item %></li>
  <% end %>
</ul>
