<footer class="footer">
  <small>
    Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> on a ranch in northern Mexico (moo!)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
